name: Custom Predicate (Image)

on:
  workflow_dispatch:
    inputs:
      private-signing:
        description: "Use private signing"
        type: boolean
        default: true
      predicate-source:
        description: "How to supply the predicate"
        type: choice
        options:
          - file
          - literal
        default: file
      push-to-registry:
        description: "Push attestation to registry"
        type: boolean
        default: true
      show-summary:
        description: "Show attestation summary"
        type: boolean
        default: true

jobs:
  build:
    name: attest
    runs-on: ubuntu-latest
    permissions:
      packages: write
      attestations: write
      id-token: write
    env:
      REGISTRY: ghcr.io
      IMAGE_NAME: ${{ github.repository }}

    steps:
      - name: Create subject
        run: |
          echo "$RANDOM-$(date +%s)-$(uuidgen)" > artifact.txt

      - name: Build Dockerfile
        run: |
          cat <<EOF > Dockerfile
          FROM scratch
          COPY artifact.txt .
          EOF

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        id: push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          sbom: false
          provenance: false
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest

      - name: Create predicate (file)
        id: predicate
        run: |
          cat > predicate.json << 'EOF'
          {
            "result": "PASSED",
            "configuration": {},
            "passedTests": ["unit-tests"]
          }
          EOF

          echo "json=$(cat predicate.json | jq -c .)" >> "$GITHUB_OUTPUT"

      - name: Attest artifact (file)
        if: inputs.predicate-source == 'file'
        id: attest-file
        uses: actions/attest@bdehamer/consolidate
        env:
          INPUT_PRIVATE-SIGNING: ${{ inputs.private-signing }}
        with:
          subject-name: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          subject-digest: ${{ steps.push.outputs.digest }}
          predicate-type: "https://in-toto.io/attestation/test-result/v0.1"
          predicate-path: predicate.json
          push-to-registry: ${{ inputs.push-to-registry }}
          show-summary: ${{ inputs.show-summary }}

      - name: Attest artifact (literal)
        if: inputs.predicate-source == 'literal'
        id: attest-literal
        uses: actions/attest@bdehamer/consolidate
        env:
          INPUT_PRIVATE-SIGNING: ${{ inputs.private-signing }}
        with:
          subject-name: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          subject-digest: ${{ steps.push.outputs.digest }}
          predicate-type: "https://in-toto.io/attestation/test-result/v0.1"
          predicate: ${{ steps.predicate.outputs.json }}
          push-to-registry: ${{ inputs.push-to-registry }}
          show-summary: ${{ inputs.show-summary }}
