---
name: Multi-Subject

on:
  workflow_dispatch:
    inputs:
      private-signing:
        description: "Use private signing"
        type: boolean
        default: true
      push-to-registry:
        description: "Push attestation to registry"
        type: boolean
        default: true
      show-summary:
        description: "Show attestation summary"
        type: boolean
        default: true

permissions: {}

jobs:
  attest-sbom:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: projects/go-img
    permissions:
      contents: write
      id-token: write
      attestations: write
      packages: write
    env:
      REGISTRY: ghcr.io

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Debug
        uses: ./.github/actions/debug

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: "./projects/go-img/go.mod"

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          workdir: "./projects/go-img"
          version: "~> v2"
          args: release --clean

      - name: Dump checksums
        run: |
          cat dist/attest-demo_checksums.txt

      - name: Attest
        id: attest
        uses: ./.github/actions/attest
        with:
          subject-checksums: dist/attest-demo_checksums.txt
          private-signing: ${{ inputs.private-signing }}
          push-to-registry: ${{ inputs.push-to-registry }}
          show-summary: ${{ inputs.show-summary }}

      - name: Verify
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          gh attestation verify ./dist/attest-demo_darwin_arm64_v8.0/attest-demo \
            --owner ${{ github.repository_owner }}
          gh attestation verify ./dist/attest-demo_linux_amd64_v1/attest-demo \
            --owner ${{ github.repository_owner }}
