name: Build Provenance

on:
  workflow_dispatch:
    inputs:
      private-signing:
        description: "Use private signing"
        type: boolean
        default: true
      show-summary:
        description: "Show attestation summary"
        type: boolean
        default: true

jobs:
  build:
    name: attest
    runs-on: ubuntu-latest
    permissions:
      attestations: write
      id-token: write

    steps:
      - name: Create subject
        run: |
          echo "$RANDOM-$(date +%s)-$(uuidgen)" > subject.txt

      - name: Upload subject
        uses: actions/upload-artifact@v4
        with:
          name: subject
          path: subject.txt

      - name: Attest artifact
        uses: actions/attest@bdehamer/consolidate
        env:
          INPUT_PRIVATE-SIGNING: ${{ inputs.private-signing }}
        with:
          subject-path: subject.txt
          show-summary: ${{ inputs.show-summary }}
