name: SBOM

on:
  workflow_dispatch:
    inputs:
      private-signing:
        description: "Use private signing"
        type: boolean
        default: true
      show-summary:
        description: "Show attestation summary"
        type: boolean
        default: true

jobs:
  build:
    name: attest
    runs-on: ubuntu-latest
    permissions:
      attestations: write
      id-token: write

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Debug
        uses: ./.github/actions/debug

      - name: Set-up Node
        uses: actions/setup-node@v6
        with:
          node-version-file: ".tool-versions"

      - name: Install packages
        working-directory: projects/node-pkg
        run: |
          npm install

      - name: Generate SBOM
        working-directory: projects/node-pkg
        run: |
          npm sbom --sbom-format spdx > sbom.spdx.json
          npm sbom --sbom-format cyclonedx > sbom.cyclonedx.json

      - name: Create subject
        working-directory: projects/node-pkg
        run: |
          # Append run ID to version to ensure unique subject for each run
          sed -i "s/\"version\": \"\([^\"]*\)\"/\"version\": \"\1-${{ github.run_id }}\"/" package.json
          npm pack

      - name: Upload subject
        uses: actions/upload-artifact@v4
        with:
          name: subject
          path: projects/node-pkg/attest-demo-*.tgz

      - name: Attest artifact (SPDX)
        id: attest-spdx
        uses: ./.github/actions/attest
        with:
          subject-path: projects/node-pkg/attest-demo-*.tgz
          sbom-path: projects/node-pkg/sbom.spdx.json
          show-summary: ${{ inputs.show-summary }}
          private-signing: ${{ inputs.private-signing }}

      - name: Check output (SPDX)
        run: |
          echo "attestation-id:  ${{ steps.attest-spdx.outputs.attestation-id }}"
          echo "attestation-url: ${{ steps.attest-spdx.outputs.attestation-url }}"
          echo "bundle-path:     ${{ steps.attest-spdx.outputs.bundle-path }}"

      - name: Attest artifact (CycloneDX)
        id: attest-cdx
        uses: ./.github/actions/attest
        with:
          subject-path: projects/node-pkg/attest-demo-*.tgz
          sbom-path: projects/node-pkg/sbom.cyclonedx.json
          show-summary: ${{ inputs.show-summary }}
          private-signing: ${{ inputs.private-signing }}

      - name: Check output (CycloneDX)
        run: |
          echo "attestation-id:  ${{ steps.attest-cdx.outputs.attestation-id }}"
          echo "attestation-url: ${{ steps.attest-cdx.outputs.attestation-url }}"
          echo "bundle-path:     ${{ steps.attest-cdx.outputs.bundle-path }}"
          cat ${RUNNER_TEMP}/created_attestation_paths.txt
