name: SBOM

on:
  workflow_dispatch:
    inputs:
      private-signing:
        description: "Use private signing"
        type: boolean
        default: true
      show-summary:
        description: "Show attestation summary"
        type: boolean
        default: true

jobs:
  build:
    name: attest
    runs-on: ubuntu-latest
    permissions:
      attestations: write
      id-token: write

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set-up Node
        uses: actions/setup-node@v6
        with:
          node-version-file: ".tool-versions"

      - name: Install packages
        working-directory: projects/node-pkg
        run: |
          npm install

      - name: Generate SBOM
        working-directory: projects/node-pkg
        run: |
          npm sbom --sbom-format spdx > sbom.spdx.json
          npm sbom --sbom-format cyclonedx > sbom.cyclonedx.json

      - name: Create subject
        working-directory: projects/node-pkg
        run: |
          # Append run ID to version to ensure unique subject for each run
          sed -i "s/\"version\": \"\([^\"]*\)\"/\"version\": \"\1-${{ github.run_id }}\"/" package.json
          npm pack

      - name: Upload subject
        uses: actions/upload-artifact@v4
        with:
          name: subject
          path: projects/node-pkg/attest-demo-*.tgz

      - name: Attest artifact
        uses: actions/attest@bdehamer/consolidate
        env:
          INPUT_PRIVATE-SIGNING: ${{ inputs.private-signing }}
        with:
          subject-path: projects/node-pkg/attest-demo-*.tgz
          sbom-path: projects/node-pkg/sbom.spdx.json
          show-summary: ${{ inputs.show-summary }}

      - name: Attest artifact
        uses: actions/attest@bdehamer/consolidate
        env:
          INPUT_PRIVATE-SIGNING: ${{ inputs.private-signing }}
        with:
          subject-path: projects/node-pkg/attest-demo-*.tgz
          sbom-path: projects/node-pkg/sbom.cyclonedx.json
          show-summary: ${{ inputs.show-summary }}

      - name: List attestation paths
        run: |
          cat ${RUNNER_TEMP}/created_attestation_paths.txt
