name: SBOM (Image)

on:
  workflow_dispatch:
    inputs:
      private-signing:
        description: "Use private signing"
        type: boolean
        default: true
      push-to-registry:
        description: "Push attestation to registry"
        type: boolean
        default: true
      show-summary:
        description: "Show attestation summary"
        type: boolean
        default: true

jobs:
  build:
    name: attest
    runs-on: ubuntu-latest
    permissions:
      attestations: write
      id-token: write
      packages: write
    env:
      REGISTRY: "ghcr.io"
      IMAGE_NAME: "bdehamer/memcached"
    steps:
      - name: Create subject
        run: |
          echo "$RANDOM-$(date +%s)-$(uuidgen)" > artifact.txt

      - name: Build Dockerfile
        run: |
          cat <<EOF > Dockerfile
          FROM memcached:latest
          COPY artifact.txt .
          EOF

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        id: push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          sbom: false
          provenance: false
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ github.run_id }}

      - name: Generate SBOM
        uses: anchore/sbom-action@v0
        with:
          artifact-name: memcached-${{ github.run_id }}.sbom.spdx.json
          format: spdx-json
          image: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ github.run_id }}
          output-file: memcached-${{ github.run_id }}.sbom.spdx.json
          upload-artifact: true
          upload-release-assets: false

      - name: Upload SBOM attestation
        uses: actions/attest@bdehamer/consolidate
        env:
          INPUT_PRIVATE-SIGNING: ${{ inputs.private-signing }}
        with:
          subject-name: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          subject-digest: ${{ steps.push.outputs.digest }}
          sbom-path: memcached-${{ github.run_id }}.sbom.spdx.json
          push-to-registry: ${{ inputs.push-to-registry }}
          show-summary: ${{ inputs.show-summary }}
